<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/home_page.css">
  <link rel="stylesheet" href="/static/home_page2.css">
  <link rel = "icon" href = "/static/UG (1).png" type = "image/x-icon"> 
  <title>Projects/Skills</title>
</head>

<body>
    <div id="particle"></div>
    <nav class="navMenu">
      <a href="/">Home</a>
      <!-- <a href="#container">Skills </a> -->
      <!-- <a href="#container_projects">Projects </a> -->
      <div class="dot"></div>
    </nav>
    <nav class="navMenu" id="navMenu2">
      <a href="/views/contact.html">Contact </a>
      <div class="dot"></div>
    </nav>
    <div id="container">
      <h1>Projects</h1>
  </div>
<section>
    <main class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="title">Console Jam</h2>
          <p class="copy">Site with Mini Games</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Matrix Manipulation</h2>
          <p class="copy">Image Processing using Matrix Manipulation</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Smart Contract Gas Optimizer</h2>
          <p class="copy">Monitor and track the Ethereum gas price to reduce transaction fees save money.</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Cloud Kitchen Website</h2>
          <p class="copy">Food Ordering Website for Cloud Kitchen</p>
          <button class="btn">View</button>
        </div>
      </div>
    </main>
  </section>
  
  <!-- <div id="container">
    <h1>Skills</h1>
  </div> -->
    
  </body>
  
  </html>
</html>
    <script src="/static/home_page.js"></script>
    <script src="/static/particles.js"></script>
  </body>

</html>