<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/home_page.css">
  <link rel="stylesheet" href="/static/home_page2.css">
  <link rel = "icon" href = "/static/UG (1).png" type = "image/x-icon"> 
  <title>Projects/Skills</title>
</head>

<body>
    <div id="particle"></div>
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="#container">Skills </a>
      <a href="#container_projects">Projects </a>
      <div class="dot"></div>
    </nav>
    <nav class="navMenu" id="navMenu2">
      <a href="/views/day_night.html">Contact</a>
      <div class="dot"></div>
    </nav>
    
    <div id="container">
      <h1>Projects</h1>
  </div>
<section id="container_projects">

    <main class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="title">Console Jam</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Matrix Manipulation</h2>
          <p class="copy">Plan your next beach trip with these fabulous destinations</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Bitcoin Analysis</h2>
          <p class="copy">It's the desert you've always dreamed of</p>
          <button class="btn">View</button>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Cloud Kitchen</h2>
          <p class="copy">Seriously, straight up, just blast off into outer space today</p>
          <button class="btn">View</button>
        </div>
      </div>
    </main>
  </section>
  
  <div id="container">
    <h1>Skills</h1>
  </div>
    
   
  </body>
  
  </html>
</html>
    <script src="/static/home_page.js"></script>
    <script src="/static/particles.js"></script>
  </body>

</html>