<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/home_page.css">
  <link rel="stylesheet" href="/static/home_page2.css">
  <link rel = "icon" href = "/static/UG (1).png" type = "image/x-icon"> 
  <title>Projects/Skills</title>
</head>

<body>
    <div id="particle"></div>
    <nav class="navMenu">
      <a href="/">Home</a>
      <!-- <a href="#container">Skills </a> -->
      <!-- <a href="#container_projects">Projects </a> -->
      <div class="dot"></div>
    </nav>
    <nav class="navMenu" id="navMenu2">
      <a href="contact.html">Contact </a>
      <div class="dot"></div>
    </nav>
    <div id="container">
      <h1>Projects</h1>
  </div>
<section>
    <main class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="title">Console Jam</h2>
          <p class="copy">Site with Mini Games</p>
          <a href="https://github.com/TBUGOP/ConsoleJam">
            <button class="btn" >View on Github</button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Smart Contract Gas Optimizer</h2>
          <p class="copy">Reduce gas consumption of smart contracts and visualize the changes</p>
          <a href="https://github.com/TBUGOP/Gas_Optimizer_Visualization">
            <button class="btn">View on Github</button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Matrix Manipulation</h2>
          <p class="copy">Image Processing using Matrix Manipulation</p>
          <a href="https://github.com/TBUGOP/Matrix-Manipulation-For-Image-Processing">
            <button class="btn">View on Github</button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="title">Capstone Financial Project</h2>
          <p class="copy">Understand the connection between historical data and price forecast of Bitcoin Market.</p>
          <a href="https://github.com/TBUGOP/Capstone-Financial-Project">
          <button class="btn">View on Github</button>
        </a>
        </div>
      </div>
    </main>
  </section>
  
  </body>
  
  </html>
</html>
    <script src="/static/home_page.js"></script>
    <script src="/static/particles.js"></script>
  </body>

</html>